<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ParaderoCreateDlg" widgetVar="ParaderoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateParaderoTitle}">
            <h:form id="ParaderoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paraderoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateParaderoLabel_id}" for="id" />
                        <p:inputText id="id" value="#{paraderoController.selected.id}" title="#{bundle.CreateParaderoTitle_id}" required="true" requiredMessage="#{bundle.CreateParaderoRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateParaderoLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{paraderoController.selected.direccion}" title="#{bundle.CreateParaderoTitle_direccion}" />
                        <p:outputLabel value="#{bundle.CreateParaderoLabel_ubicacion}" for="ubicacion" />
                        <p:inputText id="ubicacion" value="#{paraderoController.selected.ubicacion}" title="#{bundle.CreateParaderoTitle_ubicacion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paraderoController.create}" value="#{bundle.Save}" update="display,:ParaderoListForm:datalist,:growl" oncomplete="handleSubmit(args,'ParaderoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="ParaderoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
