<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ParaderoViewDlg" widgetVar="ParaderoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewParaderoTitle}">
            <h:form id="ParaderoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paraderoController.selected != null}">
                        <h:outputText value="#{bundle.ViewParaderoLabel_id}"/>
                        <h:outputText value="#{paraderoController.selected.id}" title="#{bundle.ViewParaderoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewParaderoLabel_direccion}"/>
                        <h:outputText value="#{paraderoController.selected.direccion}" title="#{bundle.ViewParaderoTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewParaderoLabel_ubicacion}"/>
                        <h:outputText value="#{paraderoController.selected.ubicacion}" title="#{bundle.ViewParaderoTitle_ubicacion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ParaderoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
