<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RutaViewDlg" widgetVar="RutaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRutaTitle}">
            <h:form id="RutaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rutaController.selected != null}">
                        <h:outputText value="#{bundle.ViewRutaLabel_id}"/>
                        <h:outputText value="#{rutaController.selected.id}" title="#{bundle.ViewRutaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRutaLabel_recorrido}"/>
                        <h:outputText value="#{rutaController.selected.recorrido}" title="#{bundle.ViewRutaTitle_recorrido}"/>
                        <h:outputText value="#{bundle.ViewRutaLabel_origen}"/>
                        <h:outputText value="#{rutaController.selected.origen}" title="#{bundle.ViewRutaTitle_origen}"/>
                        <h:outputText value="#{bundle.ViewRutaLabel_destino}"/>
                        <h:outputText value="#{rutaController.selected.destino}" title="#{bundle.ViewRutaTitle_destino}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RutaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
