<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConductorCreateDlg" widgetVar="ConductorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateConductorTitle}">
            <h:form id="ConductorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conductorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateConductorLabel_cedula}" for="cedula" />
                        <p:inputText id="cedula" value="#{conductorController.selected.cedula}" title="#{bundle.CreateConductorTitle_cedula}" required="true" requiredMessage="#{bundle.CreateConductorRequiredMessage_cedula}"/>
                        <p:outputLabel value="#{bundle.CreateConductorLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{conductorController.selected.nombre}" title="#{bundle.CreateConductorTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_apellidos}" for="apellidos" />
                        <p:inputText id="apellidos" value="#{conductorController.selected.apellidos}" title="#{bundle.CreateConductorTitle_apellidos}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_gruposanguineo}" for="gruposanguineo" />
                        <p:inputText id="gruposanguineo" value="#{conductorController.selected.gruposanguineo}" title="#{bundle.CreateConductorTitle_gruposanguineo}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_eps}" for="eps" />
                        <p:inputText id="eps" value="#{conductorController.selected.eps}" title="#{bundle.CreateConductorTitle_eps}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_nitempresa}" for="nitempresa" />
                        <p:selectOneMenu id="nitempresa" value="#{conductorController.selected.nitempresa}" >
                            <f:selectItems value="#{empresaController.itemsAvailableSelectOne}"
                                           var="nitempresaItem"
                                           itemValue="#{nitempresaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conductorController.create}" value="#{bundle.Save}" update="display,:ConductorListForm:datalist,:growl" oncomplete="handleSubmit(args,'ConductorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="ConductorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
