<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConductorViewDlg" widgetVar="ConductorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewConductorTitle}">
            <h:form id="ConductorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conductorController.selected != null}">
                        <h:outputText value="#{bundle.ViewConductorLabel_cedula}"/>
                        <h:outputText value="#{conductorController.selected.cedula}" title="#{bundle.ViewConductorTitle_cedula}"/>
                        <h:outputText value="#{bundle.ViewConductorLabel_nombre}"/>
                        <h:outputText value="#{conductorController.selected.nombre}" title="#{bundle.ViewConductorTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewConductorLabel_apellidos}"/>
                        <h:outputText value="#{conductorController.selected.apellidos}" title="#{bundle.ViewConductorTitle_apellidos}"/>
                        <h:outputText value="#{bundle.ViewConductorLabel_gruposanguineo}"/>
                        <h:outputText value="#{conductorController.selected.gruposanguineo}" title="#{bundle.ViewConductorTitle_gruposanguineo}"/>
                        <h:outputText value="#{bundle.ViewConductorLabel_eps}"/>
                        <h:outputText value="#{conductorController.selected.eps}" title="#{bundle.ViewConductorTitle_eps}"/>
                        <h:outputText value="#{bundle.ViewConductorLabel_nitempresa}"/>
                        <h:outputText value="#{conductorController.selected.nitempresa}" title="#{bundle.ViewConductorTitle_nitempresa}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ConductorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
