<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BusetaCreateDlg" widgetVar="BusetaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBusetaTitle}">
            <h:form id="BusetaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{busetaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBusetaLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{busetaController.selected.placa}" title="#{bundle.CreateBusetaTitle_placa}" required="true" requiredMessage="#{bundle.CreateBusetaRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.CreateBusetaLabel_placalateral}" for="placalateral" />
                        <p:inputText id="placalateral" value="#{busetaController.selected.placalateral}" title="#{bundle.CreateBusetaTitle_placalateral}" />
                        <p:outputLabel value="#{bundle.CreateBusetaLabel_cedulaconductor}" for="cedulaconductor" />
                        <p:selectOneMenu id="cedulaconductor" value="#{busetaController.selected.cedulaconductor}" >
                            <f:selectItems value="#{conductorController.itemsAvailableSelectOne}"
                                           var="cedulaconductorItem"
                                           itemValue="#{cedulaconductorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateBusetaLabel_nitempresa}" for="nitempresa" />
                        <p:selectOneMenu id="nitempresa" value="#{busetaController.selected.nitempresa}" >
                            <f:selectItems value="#{empresaController.itemsAvailableSelectOne}"
                                           var="nitempresaItem"
                                           itemValue="#{nitempresaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{busetaController.create}" value="#{bundle.Save}" update="display,:BusetaListForm:datalist,:growl" oncomplete="handleSubmit(args,'BusetaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="BusetaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
