<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="head">
            <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyACMjQhVJx6rJs9WpCXMzsiAtqP6pOhtyk"></script>
        </ui:define>

        <ui:define name="title">
            <h:outputText value="#{bundle.ListBusetaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="BusetaListForm">
                <p:panel header="#{bundle.ListBusetaTitle}">
                    <p:dataTable id="datalist" value="#{busetaController.items}" var="item"
                                 selectionMode="single" selection="#{busetaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.placa}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBusetaTitle_placa}"/>
                            </f:facet>
                            <h:outputText value="#{item.placa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBusetaTitle_placalateral}"/>
                            </f:facet>
                            <h:outputText value="#{item.placalateral}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBusetaTitle_cedulaconductor}"/>
                            </f:facet>
                            <h:outputText value="#{item.cedulaconductor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBusetaTitle_nitempresa}"/>
                            </f:facet>
                            <h:outputText value="#{item.nitempresa.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Latitud"/>
                            </f:facet>
                            <h:outputText value="#{item.floatlatitud}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Longitud"/>
                            </f:facet>
                            <h:outputText value="#{item.floatlongitud}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{busetaController.prepareCreate}" update=":BusetaCreateForm" oncomplete="PF('BusetaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":BusetaViewForm" oncomplete="PF('BusetaViewDialog').show()" disabled="#{empty busetaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":BusetaEditForm" oncomplete="PF('BusetaEditDialog').show()" disabled="#{empty busetaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{busetaController.destroy}" update=":growl,datalist" disabled="#{empty busetaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                    
                </p:panel>
                <p:gmap center="5.076736, -75.520290" zoom="14" 
                        type="HYBRID" style="width:100%;height:400px" 
                        model="#{busetaController.simpleModel}"/>

            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
