<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BusetaViewDlg" widgetVar="BusetaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBusetaTitle}">
            <h:form id="BusetaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{busetaController.selected != null}">
                        <h:outputText value="#{bundle.ViewBusetaLabel_placa}"/>
                        <h:outputText value="#{busetaController.selected.placa}" title="#{bundle.ViewBusetaTitle_placa}"/>
                        <h:outputText value="#{bundle.ViewBusetaLabel_placalateral}"/>
                        <h:outputText value="#{busetaController.selected.placalateral}" title="#{bundle.ViewBusetaTitle_placalateral}"/>
                        <h:outputText value="#{bundle.ViewBusetaLabel_cedulaconductor}"/>
                        <h:outputText value="#{busetaController.selected.cedulaconductor}" title="#{bundle.ViewBusetaTitle_cedulaconductor}"/>
                        <h:outputText value="#{bundle.ViewBusetaLabel_nitempresa}"/>
                        <h:outputText value="#{busetaController.selected.nitempresa}" title="#{bundle.ViewBusetaTitle_nitempresa}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BusetaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
