<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/buseta/List" value="Show All Buseta Items"/>
        <br />
        <h:link outcome="/conductor/List" value="Show All Conductor Items"/>
        <br />
        <h:link outcome="/empresa/List" value="Show All Empresa Items"/>
        <br />
        <h:link outcome="/paradero/List" value="Show All Paradero Items"/>
        <br />
        <h:link outcome="/ruta/List" value="Show All Ruta Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/viaje/List" value="Show All Viaje Items"/>
    </h:body>







</html>

