<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" 
            src="https://maps.googleapis.com/maps/api/js">
        </script>
    </h:head>

    <h:body styleClass="teal lighten-4">    
        <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s12 m6 l6 offset-l3 offset-m3">
                            <div class="card">
                                <div class="card-content">
                                    <img class="responsive-img" src="https://pbs.twimg.com/profile_images/514127234626363392/Vpjt9zp6_200x200.png" style="max-width: 64px;" />
                                    <div class="left-align">
                                        <h:form id="frmLogin">
                                            <p:growl id="growl" life="3000"/>
                                            <div class="row">
                                                <div class="col s12 input-field">
                                                    <p:outputLabel value="Correo Usuario:" id="olUsuario" for="hitUsuaurio" />
                                                    <p:inputText id="hitUsuaurio" required="true" value="#{loginBean.email}"></p:inputText>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <p:outputLabel value="Password:" for="hitPassword"/>
                                                    <p:inputText maxlength="20" id="hitPassword" type="password" required="true" value="#{loginBean.clave}"></p:inputText>
                                                </div>
                                                <div class="col s12 input-field center-align">
                                                    <p:commandLink value="ingresar" action="#{loginBean.autenticar()}" />
                                                </div>
                                            </div>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on("ready",function(){
                $('#login-page').css({'height': window.innerHeight + 'px'});
            });
        </script>
    </h:body>
</html>

